registry=https://microsoft.pkgs.visualstudio.com/_packaging/MEE.NPM/npm/registry/
always-auth=true
@amx:registry=https://microsoft.pkgs.visualstudio.com/_packaging/MEE.NPM/npm/registry/
@amx:always-auth=true